<footer id="g-footer">
  <div class="g-container">                                <div class="g-grid">                        

<div class="g-block  size-33-3 left-footer">
<div class="g-content">
                      <div id="black-studio-tinymce-6" class="widget widget_black_studio_tinymce"><h2 class="widgettitle">Contact Us</h2><div class="textwidget"><p><strong>Address:  </strong> 701 Ledwith Avenue<br />
Haines City, FL 33844</p>
<p><strong>Phone:  </strong>(863) 421-3267</p>
<p><strong>Hours:  </strong>9:00AM - 4:00PM</p>
</div></div>

</div>
</div>
      

<div class="g-block  size-33-3 middle-footer">
<div class="g-content">
                      <div id="black-studio-tinymce-11" class="widget widget_black_studio_tinymce"><h2 class="widgettitle">Administration</h2><div class="textwidget"><p class="black"><b>Principal:</b><br />
<a href="mailto:kathryn.blackburn@polk-fl.net">Dr. Kathryn Blackburn</a></p>
<p><b>Assistant Principal:</b><br />
<a href="mailto:miguel.rivera01@polk-fl.net">Miguel Rivera</a></p>
<p><b>Dean:</b><br />
<a href="mailto:jason.fields@polk-fl.net">Jason Fields</a></p>
</div></div>

</div>
</div>
      

<div class="g-block  size-33-3 right-footer">
<div class="g-content">
                      <div id="black-studio-tinymce-8" class="widget widget_black_studio_tinymce"><h2 class="widgettitle">Tools &#038; Links</h2><div class="textwidget"><div class="span3"><a href="https://parent.mypolkschools.net/" target="_blank" rel="noopener noreferrer">Parent Portal</a><br />
<a href="https://student.mypolkschools.net/" target="_blank" rel="noopener noreferrer">Student Portal</a><br />
<a href="http://staff.mypolkschools.net/" target="_blank" rel="noopener noreferrer">Staff Portal</a><br />
<a href="http://www.polk-fl.net" target="_blank" rel="noopener noreferrer">PCSB Website</a><br />
<a href="https://login.microsoftonline.com/" target="_blank" rel="noopener noreferrer">Office 365</a></div>
<div class="span3"><a href="http://www.mypolkschools.net/google" target="_blank" rel="noopener noreferrer">Google Apps</a><br />
<a href="http://moodle.polk-fl.net/" target="_blank" rel="noopener noreferrer">Moodle</a><br />
<a href="http://www.polk-fl.net/parents/testing/default.htm" target="_blank" rel="noopener noreferrer">Testing</a><br />
<a href="http://www.polk-fl.net/community/volunteers/default.htm" target="_blank" rel="noopener noreferrer">Volunteering</a><br />
<a href="http://www.polk-fl.net/students/middleandhigh/bullying.htm" target="_blank" rel="noopener noreferrer">Bullying</a></div>
</div></div>

</div>
</div>
</div>
              <div class="g-grid">                        

<div class="g-block size-100">
<div class="spacer"></div>
</div>
</div>
</div>

</footer>
