<footer id="footer" class="">

  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">

        <span class="logo">
          <img alt="Zibtek Logo" class="img-fluid mb-3" src="img/logo-header.png">
        </span>
        <p class="">
          We are a top software development company that helps startups and enterprises create
          strategic software products that increase revenue, reduce cost and drive business transformation
        </p>

        <ul class="list-unstyled">

          <li class="mb-2">
            <span class="">Address:</span>
            12365 S 970 E, Draper, UT 84020 , USA
          </li>

          <li class="mb-2">
            <span class="">Phone:</span>
            <a href="tel:+1 (801) 895 2894">+1 (801) 895
              2894
            </a>
          </li>

          <li class="mb-2">
            <span class="text-color-light">Email:</span>
            <a href="/cdn-cgi/l/email-protection#751d1019191a350f1c1701101e5b161a18" class="">
              <span class="" data-cfemail="a3cbc6cfcfcce3d9cac1d7c6c88dc0ccce">[email&#160;protected]</span>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <h2 class="text-3 mb-3">SERVICES</h2>
            <ul class="list list-icon list-unstyled">
              <li class="mb-2"><a href="https://www.zibtek.com/services/web-development-services">Web Development</a>
              </li>
              <li class="mb-2"><a href="https://www.zibtek.com/services/mobile-app-development-services">Mobile
                  Development</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/services/UIUX-design-services">UI / UX Design</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/services/digital-marketing-services">Digital
                  Marketing</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/services/QA-QC-support-services">QA & Support</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/services/corporate-solution">Corporate Solutions</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h2 class="text-3 mb-3">ABOUT</h2>
            <ul class="list list-icon list-unstyled">
              <li class="mb-2"><a href="https://www.zib\tek.com/projects">Our Work</a></li>
              <li class="mb-2"><a href="https://www.zi\tek.com/technology">Technologies</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/testimonials">Testimonials</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/contact">Contact</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/privacy-policy">Privacy</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/partners">Partners</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h2 class="text-3 mb-3">RESOURCES</h2>
            <ul class="list list-icon list-unstyled">

              <li class="mb-2"><a href="https://www.zibtek.com/resources">Resources</a></li>
              <li class="mb-2"><a href="https://www.zibtek.com/blog/">Latest Articles</a></li>
              <li class="mb-2 sitemap"><a href="https://www.zibtek.com/sitemap" target="_blank" class="">Sitemap</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">

        <div class="row">
          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-4">

                <h2 class="text-3 mb-3">Backend</h2>
                <ul class="list list-icon list-unstyled">
                  <li class="mb-2"><a href="https://www.zibtek.com/Ruby-on-Rails-Development-Company">Ruby on Rails </a>
                  </li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Java-Development-Company">JAVA</a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Node-JS-Development-Company">Node. Js</a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/MEAN-Stack-Development-Company">MEAN</a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Aspdotnet-Development-Company">ASP .Net</a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/PHP-Web-Development-Company">Php</a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Python-Development-Company">Python</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="text-3 mb-3">Frontend</h2>
                <ul class="list list-icon list-unstyled">
                  <li class="mb-2"><a href="https://www.zibtek.com/AngularJS-Development-Company">Angular JS </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/React-Native-development-Company">React Native</a>
                  </li>
                  <li class="mb-2"><a href="https://www.zibtek.com/React-js-development">React JS</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="text-3 mb-3">Mobile</h2>
                <ul class="list list-icon list-unstyled">
                  <li class="mb-2"><a href="https://www.zibtek.com/iOS-App-Development-Company">iOS </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Android-App-Development-Company">Android</a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Smart-TV-App-Development-Company.php">Smart TV</a>
                  </li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Hybrid-App-Dvelopment-Company">Hybrid App </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-4">
                <h2 class="text-3 mb-3">Web</h2>
                <ul class="list list-icon list-unstyled">
                  <li class="mb-2"><a href="https://www.zibtek.com/drupal-development-company">Drupal </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/wordpress-development-company">Wordpress </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Adobe-Experience-Manager-(AEM)-CMS-Company">Adobe
                      Experience Manager </a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="text-3 mb-3">Big Data</h2>
                <ul class="list list-icon list-unstyled">
                  <li class="mb-2"><a href="https://www.zibtek.com/Big-Data-development-company">Big Data </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Data-science&analystics-service">Data Science &
                      Analystics </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Natural-Language-Processing-Service">Natural Language
                      Processing </a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2 class="text-3 mb-3">Blockchain</h2>
                <ul class="list list-icon list-unstyled">
                  <li class="mb-2"><a
                      href="https://www.zibtek.com/Blockchain-Application-Development-Service">Blockchain Application
                    </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/Smart-contracts-development">Smart Contracts
                      Development </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/ico-development-services">ICO Development Service
                    </a></li>
                  <li class="mb-2"><a href="https://www.zibtek.com/DevOps-application-development-company">DevOps
                      Implementation Services</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright z-frwd">
    <div class="container">
      <div class="row text-center text-md-left align-items-center">
        <div class="col-md-6 col-lg-6">
          <ul class="social-icons social-icons-transparent social-icons-icon-light social-icons-lg">
            <li class="social-icons-facebook"><a href="http://www.facebook.com/zibtek" target="_blank"
                title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icons-twitter"><a href="https://twitter.com/zibtek" target="_blank" title="Twitter"><i
                  class="fab fa-twitter"></i></a></li>
            <li class="social-icons-instagram"><a href="https://www.linkedin.com/company/zibtek/" target="_blank"
                title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
          </ul>
          <div class="flag-section">
            <div class="flags">
              <span class="text-color-light">Our Offices: </span>
              <img src="img/flag/USA.svg" style="max-height:30px">
              <img src="img/flag/india.svg" style="max-height:30px">

              <img src="img/flag/philippines.svg" style="max-height:30px">
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <p class="text-md-right pb-0 mb-0 text-color-light"> Copyrights © 2019. All Rights Reserved by Zibtek</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <img src="img/footer.png" class="img-fluid footer-image">
  </div>
</footer>